@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3 {
  line-height: 1.1;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-cyan: hsl(185, 75%, 39%);
  --clr-desaturated-blue: hsl(229, 23%, 23%);
  --clr-grayish-blue: hsl(227, 10%, 46%);
  --clr-neutral-gray: hsl(0, 0%, 59%);

  --font-size-basic: 1.125rem;
  --font-kumbhSans: "Kumbh Sans", sans-serif; /* 400,700 */
}

body {
  font-family: var(--font-kumbhSans);
  font-weight: 400;
  font-size: var(--font-size-basic);
  background-color: var(--clr-cyan);
}
main {
  display: flex;
  justify-content: center;
  padding-block: 9.2rem;
  overflow: hidden;
  align-items: center;

  height: 100%;
  min-height: 104vh;
}

.card {
  width: 86.9%;
  max-width: 350px;
  position: relative;
  z-index: 1000;
}
.card::before {
  content: url("images/bg-pattern-top.svg");
  position: absolute;
  z-index: -1;
  right: 37.5%;
  bottom: 40%;
}
.card::after {
  content: url("images/bg-pattern-bottom.svg");
  position: absolute;
  z-index: -1;
  left: 35%;
  top: 42%;
}
.container {
  background-color: #fff;
  width: 100%;
  border-radius: 0.95rem;
  overflow: hidden;
  box-shadow: 0 20px 25px rgba(45, 50, 72, 20%);
  display: flex;
  flex-direction: column;
}

/* banner */
.banner {
  height: 140px;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  padding: 0.3rem;
  background-color: #fff;
}

.banner-img img {
  border-radius: 50%;
}
/* content */

.content-info {
  padding-block: 4.4rem 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(150, 150, 150, 50%);
}

.content .name {
  font-weight: 700;
  padding-bottom: 0.25rem;
}
.content .name span {
  color: var(--clr-grayish-blue);
  font-weight: 400;
  padding-left: 0.55rem;
}
.content .city {
  color: var(--clr-grayish-blue);
  font-size: 0.87rem;
}

.info {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding-block: 1.4rem 1.4rem;
  width: 85%;
  margin: 0 auto;
  font-size: 1.1rem;
  padding-left: 0;
}
.info li {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info .num {
  font-weight: 700;
  letter-spacing: 0.04rem;
}
.info .title {
  color: var(--clr-neutral-gray);
  font-size: 0.7rem;
  letter-spacing: 0.06rem;
}

@media screen and (min-width: 768px) {
  main {
    align-items: center;
    padding: 0;
    height: auto;
    min-height: 100vh;
  }
  .container {
    box-shadow: 0 40px 50px 0.5rem rgba(45, 50, 72, 25%);
  }
  .card::before {
    content: url("images/bg-pattern-top.svg");
    position: absolute;
    z-index: -1;
    right: 57.5%;
    bottom: 19%;
  }
  .card::after {
    content: url("images/bg-pattern-bottom.svg");
    position: absolute;
    z-index: -1;
    left: 43%;
    top: 54%;
  }
}
